button.titlebutton
{
	margin-top: 3px;		/* for Firefox */
	margin-bottom: 3px;		/* for Firefox */
	min-width: 20px;
	min-height: 20px;
	-gtk-icon-transform: scale(0);
}

button.titlebutton image
{
	opacity: 0;				/* for Firefox */
}

button.titlebutton.close
{
	background: #f55;
	box-shadow: 0 0 2px rgba(0xff, 0x55, 0x55, 0.5);
}

button.titlebutton.close:hover
{
	background: #d44;
}

button.titlebutton.close:active
{
	background: #722;
}

button.titlebutton.close:backdrop
{
	background: rgba(0x80, 0x80, 0x80, 0.25);
	box-shadow: 0 0 2px rgba(0x80, 0x80, 0x80, 0.25);
}

button.titlebutton.minimize
{
	background: #fb4;
	box-shadow: 0 0 2px rgba(0xff, 0xbb, 0x44, 0.5);
}

button.titlebutton.minimize:hover
{
	background: #d93;
}

button.titlebutton.minimize:active
{
	background: #752;
}

button.titlebutton.minimize:backdrop
{
	background: rgba(0x80, 0x80, 0x80, 0.25);
	box-shadow: 0 0 2px rgba(0x80, 0x80, 0x80, 0.25);
}

button.titlebutton.maximize
{
	background: #3c4;
	box-shadow: 0 0 2px rgba(0x33, 0xcc, 0x44, 0.5);
}

button.titlebutton.maximize:hover
{
	background: #2a3;
}

button.titlebutton.maximize:active
{
	background: #162;
}

button.titlebutton.maximize:backdrop
{
	background: rgba(0x80, 0x80, 0x80, 0.25);
	box-shadow: 0 0 2px rgba(0x80, 0x80, 0x80, 0.25);
}
