button.titlebutton
{
	margin-top: 3px;		/* for Firefox */
	margin-bottom: 3px;		/* for Firefox */
	min-width: 20px;
	min-height: 20px;
	-gtk-icon-transform: scale(0);
}

button.titlebutton image
{
	opacity: 0;				/* for Firefox */
}

button.titlebutton.close
{
	background: #fc5753;
	box-shadow: 0 0 2px rgba(252, 87, 83, 0.5);
}

button.titlebutton.close:hover
{
	background: #df4744;
}

button.titlebutton.close:active
{
	background: #7e2c2a;
}

button.titlebutton.close:backdrop
{
	background: rgba(252, 87, 83, 0.5);
	box-shadow: 0 0 2px rgba(252, 87, 83, 0.25);
}

button.titlebutton.minimize
{
	background: #fdbc40;
	box-shadow: 0 0 2px rgba(253, 188, 64, 0.5);
}

button.titlebutton.minimize:hover
{
	background: #db9c33;
}

button.titlebutton.minimize:active
{
	background: #7f5e20;
}

button.titlebutton.minimize:backdrop
{
	background: rgba(253, 188, 64, 0.5);
	box-shadow: 0 0 2px rgba(253, 188, 64, 0.25);
}

button.titlebutton.maximize
{
	background: #36c84b;
	box-shadow: 0 0 2px rgba(54, 200, 75, 0.5);
}

button.titlebutton.maximize:hover
{
	background: #27aa35;
}

button.titlebutton.maximize:active
{
	background: #1b6426;
}

button.titlebutton.maximize:backdrop
{
	background: rgba(54, 200, 75, 0.5);
	box-shadow: 0 0 2px rgba(54, 200, 75, 0.25);
}
