windowcontrols button
{
	min-width: 20px;
	min-height: 20px;
	-gtk-icon-size: 0;
}

windowcontrols button.close image
{
	background: #f55;
	box-shadow: 0 0 3px #ff555580;
}

windowcontrols button.close:hover image
{
	background: #d44;
}

windowcontrols button.close:active image
{
	background: #722;
}

windowcontrols button.close:backdrop image
{
	background: #80808080;
	box-shadow: 0 0 3px #80808080;
}

windowcontrols button.minimize image
{
	background: #fb4;
	box-shadow: 0 0 3px #ffbb4480;
}

windowcontrols button.minimize:hover image
{
	background: #d93;
}

windowcontrols button.minimize:active image
{
	background: #752;
}

windowcontrols button.minimize:backdrop image
{
	background: #80808080;
	box-shadow: 0 0 3px #80808080;
}

windowcontrols button.maximize image
{
	background: #3c4;
	box-shadow: 0 0 3px #33cc4480;
}

windowcontrols button.maximize:hover image
{
	background: #2a3;
}

windowcontrols button.maximize:active image
{
	background: #162;
}

windowcontrols button.maximize:backdrop image
{
	background: #80808080;
	box-shadow: 0 0 3px #80808080;
}
